* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic regular', 'Arial Narrow', Arial, sans-serif
}

.banner {
    width: 100%;
    height: 100px; 
    background-color: white;
    font-size: 75px;
    color: black;
    margin-top: 1%;
    margin-left: 3%;    
}

nav, main {
    margin:5% 20% 0 20%;    
}

.text{
    padding-left: 5px;
    display: inline-block;
    position: relative;
    bottom: 25%;
}

.logo {
    height: 100px;
    width: 100px;
}

.buttons{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    display: inline-block;
    height: 40px;
    width: 125px;   
    text-align: center;
    line-height: 39px;
    color: white;  
}

.first{
    background-color: #47adf1;
    border: 1px solid #47adf1;
}

.second {
    background-color:white;
    border: 1px solid lightgray;
    color: lightgray;
}

dl { 
    font-size: 35px;
    margin: 2%;
    width: 650px;  
}
dd {
    font-size: 31px;
    margin:2% 2% 2% 1%;
}

.info {      
    display: inline-block;
    height: auto;
    width: auto;   
    text-align: center;    
    color: white;
    border-radius: 22px;
    font-size: 17px;    
}

.do-it{
    background-color: white;    
    border-radius: 15px;
    font-size: 10px;
    padding: 5px;    
    margin-right: 1%;
}

.check{
    color: lightgreen;
    border: 2px solid lightgreen;    
}

.cross{
    color: red;
    border: 2px solid red;     
}

.editorial{ 
    background-color: #45abea;
    border: 10px solid #45abea;
}

.q1{ 
    background-color:#9c72e4;
    border: 10px solid #9c72e4;

}

.recruiting{ background-color: #64c0a9;
    border: 10px solid #64c0a9

}

.website{ background-color: #d863a1;
    border: 10px solid #d863a1

}

.sales{ background-color: #b0c926;
    border: 10px solid #b0c926;

}